<div class="myHeader">
        
    <header class="main">
    <div>
      <img src="assets/images/rain.png" />
      </div>

    

      <div>
      <img src="assets/images/cloudy.png" />
      </div>

      <div>
      <img src="assets/images/stars.png" />
      </div>

      <div>
      <img src="assets/images/rainbow.png" />
      </div>

      <div>
      <img src="assets/images/cloud.png"/>
      </div>

      <div class="Title">
      5-Day Weather Forecast
      </div>

      <div>
      <img src="assets/images/storm.png" />
      </div>

      <div>
      <img src="assets/images/climate-change.png"/>
      </div>

      <div>
      <img src="assets/images/sunset.png" />
      </div>

      <div>
      <img src="assets/images/clouds-and-sun.png" />
      </div>

      <div>
      <img src="assets/images/windy.png" />
      </div>

    </header>
<span>jenin</span>
</div>